.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintrc.json*
wx-js.js*
# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

node_modules/
dist/
config/env_production_config.js
config/env_test_config.js
config/env_dev_config.js
.vscode/*
!.vscode/launch.json
package-lock.json
logs/